body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

form {
    margin-top: 20px;
}


#statusMessage {
    font-weight: bold;
    margin: 10px 0;
}
#statusMessage.connectionSuccessfull {
    color: green;
}
#statusMessage.connectionError{
    color: #9F2F2F;
}

#statusMessage.readingSuccessfull {
    color: #1f1fff;
}
#statusMessage.readingError {
    color: red;
}